{% extends 'base.html' %}

{% block title %}Ceph{% endblock %}

{% block content %}
<p>In computing, Ceph (pronounced /ˈsɛf/ or /ˈkɛf/) is a free-software storage platform, implements object storage on a single distributed computer cluster, and provides interfaces for object-, block- and file-level storage. Ceph aims primarily for completely distributed operation without a single point of failure, scalable to the exabyte level, and freely available.</p>
<p>Ceph replicates data and makes it fault-tolerant, using commodity hardware and requiring no specific hardware support. As a result of its design, the system is both self-healing and self-managing, aiming to minimize administration time and other costs.</p>
<p>Ceph can be used as a storage backend in <a href="/openstack/">OpenStack</a> and <a href="/kubernetes/">Kubernetes</a>.</p>
<p><small>Parts of the content used are from <a href="https://en.wikipedia.org/wiki/OpenStack">Wikipedia</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a>).</small></p>
{% endblock %}
