{% extends 'base.html' %}

{% block content %}
{% for tab in tabs %}
{% for category in tab["categories"] %}
{% for component in category["components"] %}
{% if service == component["name"] %}
<h2>{{ component["title"] }} ({{ component["name"] }})</h2>
<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="https://www.openstack.org/themes/openstack/images/project-mascots/{{ component["name"]|title }}/OpenStack_Project_{{ component["name"]|title }}_mascot.jpg" />
    </div>
    <div class="col-9">
<p>{{ component["desc"] }}</p>
<p>The service {{ component["name"]|title }} is a project from category "{{ category["category"] }}". It is been available since the {{ component["since"] }} release. It belongs to the project team "{{ component["project-team"|title] }}".</p>
<p>More information about this service can be found in the <a href="{{ component["docs-url"] }}">documentation</a>.</p>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endblock %}
<p><small>The contents come from <a href="https://github.com/openstack/openstack-map">openstack/openstack-map</a></small>.</small></p>
